<h1>Welcome <%=@user.name%></h1>

<%= @user.tasks.each do |task| %>
  <p>
    task.description
  </p>
<% end %><br><br>


<%= link_to "Edit Profile", edit_user_path(@user) %><br><br>

<%= link_to "Conquer New Fear", fears_path %>

<% if @tasks!=nil %>
  <% @tasks.each do |task| %>
    <p>
    <%  task.jobs.each do |job| %>
        <%= job %>
      <% end %>
    </p>
  <% end %>
<% end %>
