<h1>Welcome <%=@user.name%></h1>

<%= @user.plans.each do |plan| %>
  <p>
    plan.description
  </p>
<% end %><br><br>


<%= link_to "Edit Profile", edit_user_path(@user) %><br><br>

<%= link_to "Conquer New Fear", fears_path %>

<% if @plans!=nil %>
  <% @plans.each do |plan| %>
    <p>
    <%  plan.jobs.each do |job| %>
        <%= job %>
      <% end %>
    </p>
  <% end %>
<% end %>
