  <h3>Fears</h3>
<% @fears.each.with_index(1) do |fear, i| %>
  <h2><%= "#{i}. " %><%= link_to "#{fear.name}", fear_path(fear) %></h2>
  <ol>
  <% fear.plans.each do |plan| %>
    <h4>Plans</h4>
    <li><%=link_to "#{plan.name}", plan_path(plan) %> -- Average rating: <strong><%= plan.average_rating %></strong></li>
      <a href="#" class="load_comments" data-id="<%= plan.id %>">Load Comments</a>
      <div id="comment-<%= plan.id %>">

      </div>
  <% end %>
  </ol>
<% end %>
